
body {
    font-family: Arial, sans-serif;
    text-align: center;
}
#teams {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.team {
    border: 1px solid #333;
    padding: 10px;
    width: 150px;
}

#playerLevel{
    margin-top: 20px;
}

#playersList ol {
    list-style: none;
    list-style-position: inside;
}

.listItem{
    margin-top: 10px;
}

.deleteButton {
    margin-left: 10px;
    cursor: pointer;
    border: 1px solid #ff0000;
}

.botaoAdicionar{
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
}
